@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dropdown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.1)
  }

  100% {
    transform: scaleY(1)
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.c-container-box {
  max-width: 1200px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

nav a,
nav p {
  font-size: 1.5rem;
  color: #e1e1e1;
  font-weight: 600;
}

.nav-item:hover>.nav-item-dropdown {
  display: block;
}

nav .nav-links,
nav .nav-item-dropdown {
  background-color: #d02f45;
  border-radius: 0px 0px 8px 8px;
}

.nav-item-dropdown {
  position: absolute;
  padding: 1rem;
  left: -1rem;
  animation: dropdown 300ms ease-in-out forwards;
  transform-origin: top center;
}

nav .nav-item {
  cursor: pointer;
}

.nav-item {
  position: relative;
}

.c-container-fluid {
  width: 100%;
}